.settings_menu {
	margin-top: 64px;
	padding: 0 20px;
	padding-top: 10px;
}

.menu_item {
	display: flex;
	border-bottom: 0.5px solid #d1dadd;
	padding-top: 23px;
	text-decoration: none;
}

.menu_item img,
.log_out img {
	margin-right: 16px;
	margin-left: 5px;
}

.menu_item > div {
	display: flex;
	flex-direction: column;
}

.menu_item > div span:first-child {
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #f5ba42;
	margin-bottom: 4px;
}

.menu_item > div span:nth-child(2) {
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;
	color: #8d979b;
	margin-bottom: 8px;
}

.log_out {
	display: flex;
	padding-top: 33px;
	cursor: pointer;
}

.log_out span {
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #8d979b;
}

@media (min-width: 600px) {
	.settings_menu {
		margin-top: 0;
		width: 100%;
		max-width: 700px;
		margin: auto;
		margin-top: 0;
		margin-bottom: 90px;
		padding-bottom: 50px;
		border-radius: 16px;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		background-color: #fff;
		border: 1px solid #e7e7ed;
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
	}
}
