.detail {
	margin-top: 109px;
	border: 1px solid #fff;
	padding-bottom: 57px;
	background-color: #fff;
}

.detail h6 {
	font-weight: 500;
	font-size: 11px;
	line-height: 13px;
	color: #d1dadd;
	margin-bottom: 16px;
	padding-left: 20px;
}

.detail > div {
	padding: 0 20px;
	margin-bottom: 40px;
	border-top: 0.5px solid #d1dadd4d;
}

@media (min-width: 600px) {
	.detail {
		width: 80%;
		max-width: 700px;
		margin: auto;
		margin-top: 0;
		margin-bottom: 95px;
		padding-bottom: 20px;
		border: 1px solid #e7e7ed;
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
		border-radius: 16px;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}

	.detail > div:last-child > div:last-child {
		border-bottom: none;
	}
}
