.avatar_area {
	margin-top: 109px;
	padding-top: 34.55px;
	text-align: center;
	border-bottom: 0.5px solid rgba(209, 218, 221, 0.3);
}

.avatar_area img {
	display: block;
	margin: 0 auto 12.55px auto;
}

.avatar_area span {
	font-style: normal;
	font-size: 10px;
	line-height: 12px;
	color: #989898;
	display: block;
	margin-bottom: 22px;
}

.details {
	padding: 8px 20px;
}

.indiv_info {
	display: flex;
	justify-content: space-between;
	padding: 14px 0;
	padding-top: 28px;
	border-bottom: 0.5px solid #d1dadd;
}

.field {
	font-size: 15px;
	line-height: 18px;
	color: #000000;
}

.value {
	font-size: 15px;
	line-height: 18px;
	text-align: right;
	color: #8d979b;
}

.profile_div button {
	display: block;
	width: calc(100% - 40px);
}

.security_profile_div button {
	position: absolute;
	bottom: 95px;
	right: 20px;
	left: 20px;
	display: block;
	width: calc(100% - 40px);
}

.security_details {
	margin-top: 109px;
	padding: 0 20px;
	padding-top: 16px;
}

.switch {
	display: block;
}

@media (min-width: 600px) {
	.profile_div,
	.security_profile_div {
		background-color: #fff;
		width: 100%;
		max-width: 700px;
		margin: auto;
		margin-top: 0;
		margin-bottom: 90px;
		padding: 0 20px;
		padding-bottom: 50px;
		border-radius: 16px;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		background-color: #fff;
		border: 1px solid #e7e7ed;
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
	}

	.security_profile_div button,
	.profile_div button {
		position: static;
		margin: 50px auto 30px;
	}

	.avatar_area {
		margin-top: 0;
	}

	.security_details {
		margin-top: 0;
	}

	.security_profile_div button {
		width: calc(100% - 40px);
	}
}
