.div {
	position: absolute;
	top: 104px;
	left: 5px;
	right: 5px;
	margin: auto;
	height: 260px;
	width: 90vw;
	max-width: 774px;
	background-color: #fbfbfb;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
	border-radius: 8px;
}

.top {
	background-color: #f2f5f6;
	padding: 11px 16px;
	color: #000;
	font-size: 15px;
	line-height: 18px;
	border-radius: 8px 8px 0px 0px;
}

.actions {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.actions > div {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f5f6;
	color: #000;
	line-height: 13px;
	border: 0.5px solid #d1dadd;
	border-radius: 8px;
	margin: 20px 0 0 17px;
	height: 80px;
	width: 130px;
	font-size: 11px;
	font-weight: 600;
}

.actions > div img {
	margin-right: 13px;
}

.actions div:nth-child(2),
.actions div:nth-child(4) {
	margin-right: 17px;
}

.link {
	display: flex;
	justify-content: space-around;
	font-size: 11px;
	text-decoration: none;
	color: #000;
	line-height: 13px;
	font-weight: 600;
}

@media (min-width: 600px) {
	.div {
		position: static;
		margin: 130px auto 50px auto;
		background: #ffffff;
		border: 1px solid #e7e7ed;
		border-radius: 16px;
		height: 334px;
	}

	.top {
		color: #333f6b;
		padding: 11px 30px;
		font-size: 14px;
		font-weight: 600;
		line-height: 25px;
		background: #fafbfb;
		opacity: 0.75;
		height: 48px;
		border-bottom: 1px solid #e7e7ed;
		border-radius: 16px 16px 0px 0px;
	}

	.actions > div {
		width: 44.8%;
		max-width: 347px;
		height: 100px;
		font-size: 18px;
		line-height: 32px;
		font-weight: normal;
		color: #393a4a;
		background-color: #fff;
		border-radius: 16px;
		border: 1px solid #e7e7ed;
		margin-top: 28px;
	}

	.link br, .actions > div > br {
		display: none;
	}

	.actions div:nth-child(1),
	.actions div:nth-child(3) {
		margin-right: 20px;
		margin-left: 30px;
	}

	.actions div:nth-child(2),
	.actions div:nth-child(4) {
		margin-right: 30px;
		margin-left: 00px;
	}
}
