@font-face {
	font-family: "SFProDisplay";
	src: url("./assets/SFProDisplay.ttf") format("truetype");
}

* {
	box-sizing: border-box;
	font-family: "SFProDisplay", Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

.react-date-picker__wrapper {
	border: none !important;
}

.react-date-picker__button {
	padding: 0 !important;
	padding-right: 5px !important;
}

.react-date-picker__clear-button__icon,
.react-date-picker__calendar-button__icon {
	width: 16px;
	height: 16px;
}

@media (min-width: 600px) {
	.react-date-picker__clear-button__icon,
	.react-date-picker__calendar-button__icon {
		width: 17px;
		height: 17px;
	}
}
