@font-face {
	font-family: "Muli";
	src: url("./assets/Muli-VariableFont.ttf") format("truetype"),
		url("./assets/Muli-Black.ttf") format("truetype"),
		url("./assets/Muli-Bold.ttf") format("truetype"),
		url("./assets/Muli-SemiBold.ttf") format("truetype"),
		url("./assets/Muli-Regular.ttf") format("truetype"),
		url("./assets/Muli-Medium.ttf") format("truetype"),
		url("./assets/Muli-ExtraBold.ttf") format("truetype");
	font-weight: 400 500 600 700 800;
}

* {
	box-sizing: border-box;
	font-family: "Muli", Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

.primary_btn {
	height: 45px;
	background: #333f6b;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
	border-radius: 2px;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	color: #fff;
	border: none;
	cursor: pointer;
}

.primary_btn:disabled {
	background: #333f6b;
	color: #5c6589;
	mix-blend-mode: normal;
	cursor: not-allowed;
}

.primary_btn:active,
.primary_btn:focus {
	background: #192551;
	color: #ffffff;
}

.secondary_btn {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
	border-radius: 2px;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	height: 45px;
	border: 1px solid #333f6b;
	background: transparent;
	color: #333f6b;
	cursor: pointer;
}

.secondary_btn:disabled {
	background-color: #e5e5e5;
	border: 1px solid #8b91a7;
	color: #8c92a8;
	cursor: not-allowed;
}

.secondary_btn:active,
.secondary_btn:focus {
	background: #fff;
	color: #333f6b;
	border: 1px solid #333f6b;
}

.react-date-picker__wrapper {
	border: none !important;
}

.react-date-picker__button {
	padding: 0 !important;
	padding-right: 5px !important;
}

.react-date-picker__clear-button__icon,
.react-date-picker__calendar-button__icon {
	width: 16px;
	height: 16px;
}

body::-webkit-scrollbar {
	width: 7px;
}

body::-webkit-scrollbar-thumb {
	background-color: #333f6b;
	border-radius: 2.5px;
	height: 50px;
}

body::-webkit-scrollbar-track {
	background: #d1dadd;
	border-bottom-right-radius: 16px;
}

@media (min-width: 600px) {
	.react-date-picker__clear-button__icon,
	.react-date-picker__calendar-button__icon {
		width: 17px;
		height: 17px;
	}
	body {
		background-color: #fbfbfb;
	}
}
