@font-face {
	font-family: "SFProDisplay";
	src: url("./assets/SFProDisplay.ttf") format("truetype");
}

* {
	box-sizing: border-box;
	font-family: "SFProDisplay", Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	padding: 0;
}
